<ul class="list-unstyled">
<% tasks.each do |task| %>
<li class="media mb-3">
  <img class="mr-2 rounded" src="<62f5e77388a4bb136b97d4e2636376f5 />" alt="">
  <div class="media-body">
    <div>
      <%= link_to task.user.name, user_path(task.user) %>
 <% if @messages.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>タイトル</th>
        <th>メッセージ</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
      <tr>
      <td><%= link_to task.id, task %></td>
      <td><%= task.content %></td>
      <td><%= task.status %></td>
      </tr>
      <% end %>
    </tbody>
</table>
<% end %>
<div>
<%= paginate @messages %>
</div>
<% end %>

<%= link_to '新規メッセージの投稿', new_message_path, class: 'btn btn-primary' %>
